:root {
	--main-text-color: #1d1f22;
	--accent-color: #5ece7b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--main-text-color);
	font-family: "Raleway", sans-serif;
	font-style: normal;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	margin: 0 auto;
	padding: 0 calc(101 / 1440 * 100vw);
	max-width: 1440px;
	height: 100%;
	caret-color: transparent !important;
}
