* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
	text-decoration: none;
}

body {
	margin: 0 auto;
	max-width: 1440px;
	height: 100%;
	text-decoration: none;
	padding: 0 calc(101 / 1440 * 100vw);
}

ul {
	list-style-type: none;
	padding: 0;
}
